*{
    padding: 0px;
    margin:0%;
}
.index-background{
    background:#fff;
}
.custom-container{
    width: 92%;
    margin: 0 auto;
}
.centrado-porcentual{
    position:absolute;
    left: 22%;
    top: 3%;
    width:45%;
}
.centrado-porcentual input{
    font-size: 20px;
    font-family: Verdana,Tahoma, sans-serif;
    width: 100%;
    display:inline-block;
    border:3.5px solid lightgrey;
    color: lightskyblue;
    padding: 3px;
}
#paxzu{
    border:none;
    background: #9b0021;
    color:#fff;
    display:inline-block;
    width: 100%;
    height: 40px;
}
.centrado-porcentual i{
    position: relative;
    top: -16px;
    left: -7%;
}
.business-manager-info{
    margin-top: -5%;
    border: 1px solid lightslategray;
    padding: 25px;
}

footer{
    background: #00416A;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 2%;;
    padding: 20px;
    text-align: center;
    color: #fff;
    /* border-style: dotted;
    border-width: 3.5px;
    border-color: #fff; */
}
.menu{
    display: block;
    margin-bottom: 2%;
    
}
.buttons{
    margin-top: 2.5%;
    width: 70%;
    display: block;
    /* position: absolute;
    top: 27.1%; */
}
.buttons a{
    
    background-color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
    color: #000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    width: 10%;
    border-left: 2px solid #cf0a2c;
}
.buttons a:hover{
    padding: 25px;
    transition: 0.5s;
}
.menu a{
    text-align: center;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    width: 33.333%;
}
.menu a img{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.menu a:hover{
    padding: 5px;
    /* box-sizing: border-box; */
    transition: 0.3s;
    border: 1.5px solid lightskyblue;
}
#paxzu-img{
    margin: 0 auto 3%;
    display: block;
    width:42%;
}

.business-manager-info h1,h2,h3{
    text-align: center;
}

table tr,th,td{
    border: 1.2px solid lightgrey;
    padding: 5px;
    box-sizing:border-box;
    text-align: center;
}
.face{
    padding: 18px;
    box-sizing: border-box;
}
#campaign-title{
    padding:15px;
    background: #9b0021;
    color: #fff;
}
table th{
    text-align:center;
    background: lightgrey;
    border-color: #fff;
}
table{
    margin: 0 auto 3%;
}
.align{
    display: inline-block;
}
.age-gender{
    padding: 20px;
    box-sizing: border-box;
}
#index-back{
    width: 37%;
    display: block;
    margin: 0 auto;
}

.app {
    background: #000;
    position: fixed;
	border-radius: 9%;
	display: block;
	height: 79px;
	right: 4.5%;
	margin: 0 0 0 0;
	top: 19.5%;
	width: 78px; 
}
 
.app:after {
	color: #fff;
	content: "f";
	display: block;
	font-family: Facebook Letter Faces, Arial;
	font-size: 80px;
	font-weight: bold;
	margin: -16% 0 0 48%; }
 
.app:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
    box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
    cursor: pointer;
}
#callReporting{
    width:50%;
    margin-top: -4%;
    margin-left: 3.5%;
    position: relative;
    /* background: yellow; */
    text-align: center;
    height: 20px;
}
#callReporting a{
    position: absolute;
    top:2px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}
.repeat a{
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    border-left: 0.8px solid #9b0021;
}
.repeat a:hover{
    text-decoration: none;
}
.welcome{
    margin-top: -4%;
}