*{
    padding: 0px;
    margin:0%;
}
.id-background{
    background: rgba(0,0,0,0.3);
}
.fila1,
.fila3,
.fila5,
.fila7,
.fila9,
.fila11,
.fila13,
.fila15,
.fila17,
.fila19,
.fila21,
.fila23,
.fila25,
.fila27,
.fila29,
.fila31,
.fila33,
.fila35,
.fila37,
.fila39,
.fila41,
.fila43,
.fila45,
.fila47,
.fila49,
.fila51,
.fila53,
.fila55,
.fila57,
.fila59,
.fila61,
.fila63,
.fila65,
.fila67,
.fila69,
.fila71,
.fila73,
.fila75,
.fila77,
.fila79,
.fila81,
.fila83,
.fila85,
.fila87,
.fila89,
.fila91,
.fila93,
.fila95,
.fila97,
.fila99,
.fila101,
.fila103,
.fila105,
.fila107,
.fila109,
.fila111,
.fila113,
.fila115,
.fila117,
.fila119,
.fila121,
.fila123,
.fila125,
.fila127,
.fila129,
.fila131,
.fila133,
.fila135,
.fila137,
.fila139,
.fila141,
.fila143,
.fila145,
.fila147,
.fila149,
.fila151,
.fila153,
.fila155,
.fila157,
.fila159,
.fila161,
.fila163,
.fila165,
.fila167,
.fila169,
.fila171,
.fila173,
.fila175,
.fila177,
.fila179,
.fila181,
.fila183,
.fila185,
.fila187,
.fila189,
.fila191,
.fila193,
.fila195,
.fila197,
.fila199,
.fila201,
.fila203,
.fila205,
.fila207,
.fila209,
.fila211,
.fila213,
.fila215{
    background:#f4f4f4;
}
#buscador{
    text-align: left;
    background: white;
    padding-bottom: 18px;
    background: #EEE !important;
}
#options{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color:#888;
    font-size: 17px;
    font-family: 'Roboto Mono',
    monospace;
    border: 0.5px solid #ccc;
}
.table-search{
    color: #ccc;
    margin-right: 13px;
    
}
#search, #fans-search{
    width: 25%;
    padding: 4px;
    box-sizing: border-box;
    border: 0.1px solid #ccc;
    box-shadow: 1px 1px 14px rgba(0, 74, 202, 0.5);
}
.con-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid #2ea3f2;
    border-right: 2px solid #2ea3f2;
    animation: loader_cir 1s infinite linear;
    transition: all .3s;
    position: absolute;
    top: -112px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
}
.texto-loading{
     width: 60px;
     height: 60px;
     position: absolute;
     top: 27px;
     left: -591px;
     right: 0;
     bottom: 0;
     margin: auto;
     z-index: 30;
     color: #000;
     font-size: 20px;
}
@keyframes loader_cir {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
 select:required:invalid {
     color: #666;
 }

 option[value=""][disabled] {
     display: none;
 }

 option {
     color: #000;
 }
#reporting{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: none;
    background-color: #3578E5;
    padding: 15px 30px;
    /* margin-left: 8px; */
    box-sizing: border-box;
    border-radius: 35px 7px;
}
.graphicSystem {
    margin-left: 6px;
}
#reporting:hover{
    background: #fff;
    color:#3578E5;
    border: 3px solid #3578E5;
    box-sizing: border-box;
}
.index-background{
    background: #fff;
}

.welcome{
    color: #2b85cd;
}

.custom-container{
    width: 94.5%;
    margin: 0 auto;
}
#popup{
    background:#fff;
    color: lightgray;
}
.centrado-porcentual{
    position:absolute;
    left: 22%;
    top: 3%;
    width:45%;
}
.centrado-porcentual input{
    font-size: 20px;
    font-family: Verdana,Tahoma, sans-serif;
    width: 100%;
    display:inline-block;
    border:3.5px solid lightgrey;
    color: lightskyblue;
    padding: 3px;
}
#paxzu{
    position: relative;
    top: -22px;
    border:none;
    background: #9b0021;
    color:#fff;
    display:inline-block;
    width: 100%;
    height: 40px;
}
.centrado-porcentual i{
    position: relative;
    top: -16px;
    left: -7%;
}
.business-manager-info{
    background-color:#EEE;
    position: relative;
    margin-top: 0%;
    border: 1px solid #ccc;
    padding: 25px;
    box-shadow: #ccc 5px 7px 7px 12px;
}

footer{
    background: #00416A;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 2%;;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.menu{
    display: block;
    margin-bottom: 2%;
    text-align: center;
}
.buttons{
    margin-top: 1.5%;
    width: 70%;
    display: block;
    border-radius:37px 5px;
    /* position: absolute;
    top: 27.1%; */
}
.buttons a{
    
    background-color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
    color: #000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    width: 10%;
    border-radius: 37px 5px;
    border: 1px solid #9b0021;
}
.buttons a:hover{
    background: #9b0021;
    color: #fff;
}
.menu a{
    text-align: center;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    width: 33.333%;
}
.menu a img{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.menu a:hover{
    padding: 5px;
    /* box-sizing: border-box; */
    transition: 0.3s;
    border: 1.5px solid lightskyblue;
}
#paxzu-img{
    margin: 0 auto 3%;
    display: block;
    width:42%;
}

.business-manager-info h1,h2,h3{
    text-align: center;
}

table tr,th,td{
    border: 1.2px solid lightgrey;
    padding: 5px;
    box-sizing:border-box;
    text-align: center;
}
.csize{
    width: 48px;
    box-sizing: border-box;
}
#campaign-title{
    padding:15px;
    background: #9b0021;
    color: #fff;
}
table th{
    text-align:center;
    background: lightgrey;
    border-color: #fff;
}
table{
    margin: -20px auto 0 auto;
}
.align{
    display: inline-block;
}
.age-gender{
    padding: 20px;
    box-sizing: border-box;
}
#index-back{
    width: 37%;
    display: block;
    margin: 0 auto;
    border:1px solid blue;
}
.pageStaTable{
    width: 85% !important;
}
.app {
    background: #000;
    position: fixed;
	border-radius: 9%;
	display: block;
	height: 79px;
	right: 4.5%;
	margin: 0 0 0 0;
	top: 19.5%;
    width: 78px;
    z-index: 1;
}
 
.app:after {
	color: #fff;
	content: "f";
	display: block;
	font-family: Facebook Letter Faces, Arial;
	font-size: 80px;
	font-weight: bold;
	margin: -16% 0 0 48%; }
 
.app:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
    box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
    cursor: pointer;
}
#callReporting{
    width:50%;
    margin-top: -4%;
    margin-left: 3.5%;
    position: relative;
    /* background: yellow; */
    text-align: center;
    height: 20px;
}
#callReporting a{
    position: absolute;
    top:2px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}
.repeat a{
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    border-left: 0.8px solid #9b0021;
}
.repeat a:hover{
    text-decoration: none;
}
/* .insert-account{

} */
a:hover{
    text-decoration: none;
}

body {
	background: #fff;
    font-family: 'Roboto', sans-serif;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
/* #fb-ad-preview{
    width: 70%;
    padding: 25px;
    box-sizing: border-box;
    background: #fff;
} */
#dash_section {
    width: 24.5%;
    background: #fff;
    box-shadow: 2px 3px 1px #000;
    border: 1px solid;
    text-align: center;
    display: inline-block;
}
.graphics{
    width:100%;
    height: 100%;
    border: 1px solid #ccc;
    padding:26px;
    box-sizing: border-box;
}
.graphic-dashboard{
   margin-top: -4%; 
}
#general-report{
    margin-top: 5%;
}
.dash-container{
    margin-top:4.5%;
    background: lightblue;
    padding: 40px;
    width: 65%;
}
canvas{
    width:100% !important;
}
.top-interaction{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing:border-box;
    text-align: center;
}